<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Reinholds Adventure Blog</title>
    <meta name="description" content="A Blog Post of Reinholds Adventure Blog"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
<div class="container">
    <header class="header box">
        <h1>Reinhold`s Outdoor Blog</h1>
        <picture class="header-image">
            <source media="(max-width: 799px)" srcset="../../images/header/panorama_l.jpg">
            <source media="(min-width: 800px)" srcset="../../images/header/panorama_xl.jpg">
            <img src="../../images/header/panorama_xl.jpg" alt="a alpine panorama">
        </picture>
        <ul class="navi-list first-level-navi">
            <li class="list-items first-level-navi"><a href="index.html">Homepage</a></li>
            <li class="list-items first-level-navi"><a href="impressum.html">Impressum</a></li>
        </ul>
    </header>
    <main class="box">
        <article id="country-one" class="climbing-article">
            <section class="areas">
                <h2>Friends on the beach</h2>
                <div class="flex-container">
                    <div class="gallery">
                        <div id="friends-gallery" class="gallery-box">
                            <img src="../../images/friends/avatar.jpg" class="box-img" alt="me">
                        </div>
                        <div id="box-two" class="gallery-box">
                            <img src="../../images/friends/beach.jpg" class="box-img" alt="beach">
                        </div>
                        <div id="box-three" class="gallery-box">
                            <img src="../../images/friends/friends.jpg" class="box-img" alt="friends">
                        </div>
                        <div id="box-four" class="gallery-box">
                        </div>
                        <div id="box-five" class="gallery-box">
                        </div>
                        <div id="box-six" class="gallery-box">

                        </div>
                    </div>
                </div>
            </section>
            <section class="areas">
                <h2>Cars of Kuba</h2>
                <div class="flex-container">
                    <div class="gallery">
                        <div id="cars-gallery" class="gallery-box">
                            <img src="../../images/colorful.jpg" class="box-img" alt="colorful cars">
                        </div>
                        <div id="box-two" class="gallery-box">
                            <img src="../../images/havana.jpg" class="box-img" alt="havana cars">
                        </div>
                        <div id="box-three" class="gallery-box">
                            <img src="../../images/parking.jpg" class="box-img" alt="parking cars">
                        </div>
                        <div id="box-four" class="gallery-box">
                            <img src="../../images/tabaco_field.jpg" class="box-img" alt="car in tabaco field">
                        </div>
                        <div id="box-five" class="gallery-box"></div>
                        <div id="box-six" class="gallery-box"></div>
                    </div>
                </div>
            </section>
        </article>
    </main>
</div>
<footer class="footer box">
    <div class="flex-container">
        <div class="share-items">
            <a href="https://www.facebook.com/Reini.Benny" target="_blank"><i class="fab fa-facebook-f"></i></a>
        </div>
        <div class="share-items">
            <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
        <div class="share-items">
            <a href="https://www.instagram.com/crazybee81/" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
        <div class="share-items">
            <a href="https://www.xing.com/profile/Reinhold_Beny" target="_blank"><i class="fab fa-xing"></i></a>
        </div>
    </div>
    <ul class="flex-container">
        <li class="navi-list footer-items">
            <a target="" href="mailto:mail@rbeny.de">
                Kontakt
            </a>
        </li>
        <li class="navi-list footer-items">
            <a target="" href="impressum.html">
                Impressum
            </a>
        </li>
    </ul>
</footer>


</body>

</html>
